.conteudo {
  display: flex;
}

.conteudo-principal{
  flex-grow: 3;
}

:root {
  --primaria: #4dbbcc;
  --secundaria: #6f47ff;
  --secundaria-ativa: #7b79fc;
  --fundo: #6843ee;
  --fundo-detalhes: #ececec;
}
